.container{
	margin: auto;
    width: 50%;
    border: 3px solid black;
    padding-top: 20pt;
}
#header{
	text-align: center;
	background-color: #00e2e6;
}

.row{
	padding: 15pt 15pt 0 0;
}

#myName{
	text-align: center;
	font-size: 50pt;
	font-weight: bold;
}

.projects{
	font-size: 12pt;
	font-weight: bold;
}

.school{
	font-size: 12pt;
	font-weight: bold;
}
.sectionTitle{
	font-size: 15pt;
	font-weight: bold;
}

.jobYears{
	font-style: 10pt;
}