body {
	   background-color: #111;
	   color: #fff;
	   padding-top: 60px;
}
.container{
	
}

a.link{

}

.navbar-nav {
    width: 100%;
    text-align: center;
 }

.navbar-nav li {
      float: none;
      display: inline-block;
}


.pswSections{
	display: none;
}

#header{
	text-align: center;
}

.row{
	padding: 15pt 15pt 0 0;
}

#myName{
	text-align: center;
	font-size: 40pt;
	font-weight: bold;
}

.projects{
	font-size: 15pt;
	font-weight: bold;
}

.school{
	font-size: 12pt;
	font-weight: bold;
}
.sectionTitle{
	font-size: 20pt;
	font-weight: bold;
}

.jobYears{
	font-style: 10pt;
}

.pIndent{
	text-indent: 25pt;
}